*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.form-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.formContainer{
    border-bottom: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 7px 7px gainsboro;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center; 
}

input{
    padding: 10px;
    margin: 5px;
    box-shadow: 0 0 5px 7px gainsboro;
    border: none;
    border-radius: 5px;
}

button{
    margin: 5px;
    padding: 5px;
    background-color: rgb(35, 35, 219);
    color: whitesmoke;
    border:none;
    border-radius: 5px;
    outline: none;
    width:30%;
    cursor: pointer;
     box-shadow: 0 0 3px 3px rgb(156, 156, 156);
}

button:active{
    box-shadow: none;
}